<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class = "follow">
        my_follow :
        {% for my_follow in my_follows %}
        <div> <a href = "{% url 'click_user' my_follow.id %}" >{{my_follow.username}}</div>
        {% endfor %}
    </div>
    <div class= "not_follow">
    not_follow_user :
    {% for not_follow_user in not_follow_users %}
    <div> <a href = "{% url 'click_user' not_follow_user.id %}" >{{not_follow_user}}</a></div>
    {% endfor %}
    </div>
</body>
</html>