<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
{% for my_follow in my_follows %}
<div>follow : <a href = {% url 'click_follow' myfollow.username %} ></div>
{% endfor %}
{% for un_follow in un_follows %}
<div>un_follow : <a href = {% url 'click_follow' unfollow.username %} >{{un_follow}}</a></div>
{% endfor %}
</body>
</html>